
verificacion/bin/Debug/verificacion.exe
verificacion/bin/Debug/verificacion.pdb
verificacion/obj/Debug/DesignTimeResolveAssemblyReferences.cache
verificacion/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
verificacion/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
verificacion/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
verificacion/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
verificacion/obj/Debug/verificacion.csproj.FileListAbsolute.txt
verificacion/obj/Debug/verificacion.csproj.GenerateResource.cache
verificacion/obj/Debug/verificacion.csprojResolveAssemblyReference.cache
verificacion/obj/Debug/verificacion.exe
verificacion/obj/Debug/verificacion.pdb
verificacionTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
verificacionTests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
verificacionTests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
verificacionTests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
